#box-1{
    position: absolute;
width: 426px;
height: 49px;
left: 25%;
top: 158px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 101.2%;
/* identical to box height, or 49px */


color: #000000;

}
#box-2{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 41px;
gap: 5px;

position: absolute;
width: 258px;
height: 40px;
left: 1127.03px;
top: 175px;

background: #000000;
border-radius: 5px;
}
#box-2 >p {
width: 158px;
height: 21px;

/* Paragraph */

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#box-2 >img{
    /* position: absolute; */
left: 10%;
/* right: 0%; */
/* top: 0%; */
/* bottom: 0%; */

/* White */

/* border: 1.5px solid #FFFFFF; */
}
#invoices{
    /* border: 2px solid; */
    display: flex;
flex-direction: column;
align-items: center;
padding: 33px 20px;
gap: 42px;

width: 300px;
height: 108px;

/* BG */

background: #F9F9FB;
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
#invoices > p {
/* width: 163px; */
/* height: 18px; */

/* Topper-Text */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;

/* Text */

color: #979797;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#invoices > text {
    /* width: 50px; */
/* height: 42px; */

/* Heading 2 */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 42px;
/* identical to box height */


color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#parent{
    display: flex;
}
#cilent-frame{
    /* border: 2px solid; */
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 25px;

position: absolute;
width: 1049px;
height: 641px;
left: 25%;
top: 65%;

}
#cilent-frame>p{
    width: 557.26px;
height: 42px;

/* Heading 2 */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
/* identical to box height */


color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#search-client{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    gap: 20px;
    top: 0%;
    width: 250px;
    height: 33px;

    /* Lines */

    background: #F1F1F1;
    border-radius: 5px;

/* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#search-client >p {
    width: 96px;
height: 21px;

/* Paragraph */

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
/* font-size: 16px; */
line-height: 21px;
/* identical to box height */


/* Text */

color: #979797;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#search-client >img{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 41px;
gap: 10px;

width: 155px;
height: 53px;

background: #000000;
border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#content-nav{
    display: flex;
    gap: 5%;
    /* border: 2px solid teal; */
    width: 969.09px;
    height: 18px;
    margin-left: 25%;
    margin-top: 14%;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#cli{
    /* position: absolute; */
width: 49px;
height: 18px;
/* left: 0px;
top: 0px; */

/* Topper-Text */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;

/* Text */

color: #979797;
}
#send{
    /* position: absolute; */
/* width: 52px;
height: 18px; */
margin-left: 290px;
top: 0px;

/* Topper-Text */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;

/* Text */

color: #979797;
}
#end-date{
    /* width: 66px;
height: 18px; */
margin-left:45px;
top: 0px;

/* Topper-Text */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;

/* Text */

color: #979797;

}
#interval{
    /* width: 66px;
height: 18px; */
top: 0px;
margin-left: 30px;
/* Topper-Text */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;

/* Text */

color: #979797;

}
#amount{
    /* width: 66px;
height: 18px; */
/* left: 457px; */
top: 0px;

/* Topper-Text */

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;

/* Text */

color: #979797;

}
#edit{
        /* width: 66px;
    height: 18px; */
    margin-left: 65px;
    top: 0px;
    
    /* Topper-Text */
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    
    /* Text */
    
    color: #979797;
    
}
#main-content{
    display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 12px;
isolation: isolate;

width: 1049px;
height: 378px;
margin-top: 2%;
margin-left: 25%;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
/* border: 5px solid teal; */
}
#content-box{
    /* border: 5px solid red; */
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 40px;

width: 1049px;
height: 55px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
}
#content-box>img{
    width: 55px;
height: 55px;

border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.same{
    width: 103px;
height: 21px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height */


color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#content-box>text{
    width: 87.48px;
    height: 21px;

margin-left: 162px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height */


color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
