.main {
    position: absolute;
    width: 1532.48px;
    height: 155.17px;
    left: -5.6px;
    top: 0px;
    
    background: rgb(73, 73, 236);
    mix-blend-mode: hard-light;
}
.small_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 13px; */
    padding: 1%;
    gap: 3%;
    
    position: absolute;
    /* width: 655px; */
    width: 42.5%;
    height: 80px;

    left: 395px;
    top: 35.39px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.text{
width: 98px;
height: 21px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #1B1B1B;
flex: none;
order: 0;
flex-grow: 0;
}
#child-1{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;

width: 102px;
height: 54px;

background: #48C446;
border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#child-1 > p {
    width: 21px;
height: 13px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 13px;
/* identical to box height */

text-transform: uppercase;

/* BG */

color: #F9F9FB;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#child-1> text{
    width: 67px;
height: 21px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */


/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#child-2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;

width: 128px;
height: 54px;

/* Lines */

background: #BDBDBD;
border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#child-2 > p {
    width: 43px;
height: 13px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 13px;
/* identical to box height */

text-transform: uppercase;

/* BG */

color: #F9F9FB;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#child-2 >text{
    width: 63px;
height: 21px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */


/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#child-3{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;

width: 189px;
height: 54px;

background: #EC615B;
border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
#child-3> p {
    width: 45px;
height: 13px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 13px;
/* identical to box height */

text-transform: uppercase;

/* BG */

color: #F9F9FB;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#child-3 >text{
    width: 67px;
height: 21px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */


/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.sider{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 30px;
gap: 45px;

position: absolute;
width: 270px;
height: 525px;
left: 21px;
top: 16.63px;

background: #FFFFFF;
box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
border-radius: 15px;
border: 1px solid;
}
.last_box{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 20px;
gap: 15px;

position: absolute;
width: 303.42px;
height: 80.42px;
left: 1159px;
top: 35.39px;

background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}
#profile{
    width: 50.42px;
height: 50.42px;

background:  #D9D9D9;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.last_box >p {
    width: 190px;
    height: 26px;
    /* Heading 3 */
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
#vector{
    position: absolute;
    width: 12.6px;
    height: 9.03px;
    left: 15%;
    top: 5%;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}
#logo_pay{
    width: 104.65px;
    height: 35px;
    flex: none;
    order: 0;
    margin-left: 25%;
    flex-grow: 0;
}
#invc-logo {
   
position: absolute;
left: 20%;
right: 0%;
top: 30%;
bottom: 0%;

/* border: 1.5px solid #000000; */
}
.invc{
    left:35%;
    /* right: 0%; */
    top: 27%;
    /* bottom: 0%; */
    position: absolute;
    width: 64px;
height: 21px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
/* identical to box height */


/* Secondary */

color: #202553;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
   
}
#prdt-logo {
   
    position: absolute;
    left: 20%;
    right: 0%;
    top: 40%;
    bottom: 0%;
    
    /* border: 1.5px solid #000000; */
    }
.prdt{
        left:35%;
        /* right: 0%; */
        top: 37%;
        /* bottom: 0%; */
        position: absolute;
        width: 64px;
    height: 21px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    
    
    /* Secondary */
    
    color: #202553;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
       
    }
#recr-logo {
   
        position: absolute;
        left: 20%;
        right: 0%;
        top: 50%;
        bottom: 0%;
        
        /* border: 1.5px solid #000000; */
        }
    .recr{
            left:35%;
            /* right: 0%; */
            top: 47%;
            /* bottom: 0%; */
            position: absolute;
            width: 64px;
        height: 21px;
        
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height */
        
        
        /* Secondary */
        
        color: #202553;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 1;
        flex-grow: 0;
           
        }
#disc-logo {
   
            position: absolute;
            left: 20%;
            right: 0%;
            top: 60%;
            bottom: 0%;
            
            /* border: 1.5px solid #000000; */
            }
.disc{
                left:35%;
                /* right: 0%; */
                top: 57%;
                /* bottom: 0%; */
                position: absolute;
                width: 64px;
            height: 21px;
            
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            /* identical to box height */
            
            
            /* Secondary */
            
            color: #202553;
            
            
            /* Inside auto layout */
            
            flex: none;
            order: 1;
            flex-grow: 0;
               
            }